.header{
    height: 90px;
    background-color: #242582;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
}
.header img{
    height: 35px;
    width: 80px;
}
.header a{
  text-decoration: none;
  color: rgb(255, 255, 255);

  margin: 10px;
}
.header a:hover{
    color: rgb(0, 215, 0);
}